
.button {
  /* border-bottom: 1px outset lightgrey;
  border-left: 1px outset lightgrey; */
  background-color: lightgray;
  height:12px;
  width:12px;
  color: lightgray;
  display: flex;
  justify-content: center;
}

.off-track {
  background-color: green;
}

.button:visited  {
  background-color: orchid;
}

.button::before{
  content:'';
  /* color: white; */
  width: 12px; 
  height: 12px;
  border-bottom: solid 1px black; 
  position: relative;
  left: 0;
  top: -6px;
  z-index: 1; 

}

.button::after{
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  left: -6px;
  border: 1px solid black;
  border-width: 0 0 0 1px;
}
.button-active{
  background-color: lightblue;
  cursor: pointer
}
.arrow{
  /* overflow: visible; */
  z-index: 100;  
}
.color{
  background: purple
}

