
.button {
  display:block;
  float: left;
  border-bottom: 1px outset lightgrey;
  border-left: 1px outset lightgrey;
  background-color: white;
  height:34px;
  width:34px;
  border-image: none;
  padding: none;
  font-size: 30px;
  color: lightgray
 
}
button:active{
  background:olive;
}