
.cell {
  /* border-bottom: 1px outset lightgrey;
  border-left: 1px outset lightgrey; */
  background-color: white;
  height:12px;
  width:12px;
  color: lightgray;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 1px solid lightgray;
}

.off-track {
  background-color: green;
}

.start-finish {
  background-color:red;
}

/* .cell::before{
  content:'';
  width: 12px; 
  height: 12px;
  border-bottom: solid 1px black; 
  position: relative;
  left: 0;
  top: -6px;
  z-index: 1; 
} */
/* 
.cell::before{
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  left: 0;
  top: -6px;
  border: 1px solid black;
  border-width: 1px 0 0 0;
}

.cell::after{
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  left: -6px;
  border: 1px solid black;
  border-width: 0 0 0 1px; 
}*/
.button-active{
  background-color: yellow;
  cursor: pointer
}
.arrow{
  /* overflow: visible; */
  z-index: 100;  
}
.color{
  background: purple
}

.x {
  color: black;
  font-weight: 6;
  justify-content: center;
  align-items: center
}

.o {
  color: black;
  font-weight: 6;
  justify-content: center;
  align-items: center
}

.B {
  color: black;
  font-weight: 6;
  justify-content: center;
  align-items: center
}

